# https://editorconfig.org
# Line endings are left to git (see .gitattributes), not set here.
root = true

[*]
charset = utf-8
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.{cs,ps1,bat,cmd,vbs}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
